<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>香磨五谷</title>
    <link rel="stylesheet" href="/css/common/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/common/signin.css"/>

    <link rel="stylesheet" href="/css/index.css"/>
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/common/jquery-1.11.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <div class="container lbt">
        <img src=""/>
        <img src=""/>
        <img src=""/>
        <img src=""/>
    </div>
    <div class="container">
        <form class="form-signin">
            <div>
                <label for="mobile" class="sr-only">请输入手机号码</label>
                <input id="mobile" class="form-control" placeholder="请输入手机号码" type="text"/>
            </div>
            <div>
                <label for="pwd" class="sr-only">Password</label>
                <input id="pwd" class="form-control" placeholder="请输入密码" type="password"/>
            </div>
            <div class="checkbox">
                <label>
                    <input value=" " type="checkbox"/> 记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>


</body>
</html>