<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>香磨五谷</title>
    <link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/signin.css}"/>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
    <div class="container" style="height: 1000px;">
        <a th:href="@{/toLogin}">登录</a>
    </div>
    <div class="container footer">
        <a th:href="@{/index}">首页</a>
        <a th:href="@{/index}">购物车</a>
        <a th:href="@{/index}">我的</a>
    </div>
</body>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/common/jquery-1.11.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>